
.panel.panel-filled .panel-body {
    padding-top: 5px;
}
.panel.panel-filled {
    background-color: #24262d;
}
.tab-pane .panel-body {
    background-color: #24262d;
}

/* Chinh lai mau background cho cac form dat lenh order */
.form-control {
    /*color: white;*/
    background-color: #343740
}

.input-group-addon.trung{
    background-color: #3b3f4a;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #494b54;
    opacity: 1;
}

.trades td{
    padding: 0px !important;
    position: relative !important;
}
.ftt {
    position: absolute;
    top: 1px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}
.ftt.bids {
    background-color: #cc910c !important;
    opacity: 0.7;
}
.ftt.asks {
    background-color: #a64d79 !important;
    opacity: 0.7;
}
.ftt-order .form-group {
    margin-bottom: 10px;
}

.open-orders tbody tr:hover {
    color: #ffffff;
}


/* Thanh added  begin */
.exchange .panel.panel-filled {
    border: 1px solid #606167;
}

.exchange.new_home .panel.panel-filled {
    border: 0px;
}

.exchange .tabs-container {
    /*border: 1px solid #cc910c;*/
    background-color: #24262d;
}

.exchange .ui-widget-header {
    background: none;
    border: none;
    /*border-bottom: 1px solid #cc910c;*/
    cursor: move;
    /*background-color: #2d2124;*/
    background-color: #343740;
}


.exchange .tv_chart_container {
    width: 100%;
    height: 100%;
}
/* Thanh added  end */

.navbar-nav .top-btn {
    color: #cc910c;
}
.navbar-nav .top-btn:hover {
    color: #cc910c;
}
.ui-widget-content {
    z-index: 1;
}
.content {
    padding: 5px 5px;
}

/* Kich co cu the cua tung panel */
.panel.balance {
    min-height: 200px;
    min-width: 300px;
    height: 250px;
}

.panel.fund-management {
    min-height: 150px;
    min-width: 300px;
    height: 150px;
}

.panel.purchases {
    min-height: 150px;
    min-width: 300px;
    height: 180px;
}

.panel.purchase-history {
    min-height: 150px;
    min-width: 300px;
    height:710px;
}

.panel.fund-history {
    min-height: 150px;
    min-width: 300px;
    height:475px;
}

.panel.dropdown {
    min-width: 400px;
}

.panel {
    margin-bottom: 5px;
}
.btn-buy, .btn-buy:hover {
    color: #fff;
    font-weight: bold;
    background-color: #cc910c;
}

.btn-sell, .btn-sell:hover {
    color: #fff;
    font-weight: bold;
    background-color: #a64d79;
}

body {
    font-size: 13px;
}

.c-buy {
    color: #cc910c;
}

.c-sell {
    color: #a64d79;
}

.last-trade {
    font-size: 17px;
    font-weight: bold;
    margin-left: 17px;
}

.table {
    margin-bottom: 0px;
}

/* Bo border tai moi dong cua table */
.table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
}

.new_home .panel {
    z-index: 1;
}

table.hover tr {
    cursor: pointer;
}

i.hover{
    cursor: pointer;
}

span.hover{
    cursor: pointer;
}

/* Do rong cua thanh navigation ben trai */
.navigation {
    width: 300px;
}

.navigation:before {
    width: 300px;
}

.content {
    margin-left: 300px;
}

/* An hien thi thanh scroll */
::-webkit-scrollbar {
    width: 5px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
/*::-webkit-scrollbar-thumb {*/
/*background: #FF0000;*/
/*}*/

/* Chinh mau cho table strip */
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #24262d;
}

/* Chinh mau cho tab o order_history */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #24262d;
}

/* Thay doi lai kich co checkbox cua Luna template */
.checkbox label:before,
.checkbox label:after {
    /*-webkit-transform: scale(0.8);*/
    width: 15px;
    height: 15px;
    font-size: 9px;
}

/* Doan nay cho Main Symbol nam chinh giua DIV */
#parent {display: table;}
#child {
    display: table-cell;
    vertical-align: middle;
}

.over-view {
	padding: 2px 4px 0 0;
	//min-width: 600px;
}

.panel-heading, .order-history .nav > li > a {
	padding: 5px;
}
.panel .panel-body {
	padding: 5px 10px;
}

.navigation .bs-example {
    margin: 5px 5px;
}
.navigation .panel .panel-body {
    padding: 5px 0px;
}

.modal-content .modal-header {
    background-color: #111111;
    margin-bottom: 0px !important
}
.modal-content .modal-footer {
    background-color: #111111;
}
.modal-content .panel-body {
    background-color: #18181b !important;
    padding-top: 10px !important;
}
.modal-content .modal-body {
    background-color: #18181b !important;
}
.modal-content {
    border: 1px solid black;
    border-radius: 3px;
}

.wrapword{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap; /*Chrome & Safari */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: nowrap;
}