
<!-- Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header" style="width: 300px;">
            <div id="mobile-menu">
                <div class="left-nav-toggle">
                    <a href="#">
                        <i class="stroke-hamburgermenu"></i>
                    </a>
                </div>
            </div>
            <a class="navbar-brand" href="/">
                TRUNG.THAN
            </a>
        </div>
        <div class="navbar-form navbar-left">
            <p class="c-white">
                <span class="c-info">
                    Last price update:
                </span>
                {{ clock  | date:'medium'}}
            </p>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <table class="table table-condensed">
                        <thead>
                        <tr style="font-size: 12px">
                            <th class="c-info">Symbol</th>
                            <th class="c-info">Company</th>
                            <th class="c-info">Price(USD)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="c-white font-bold" style="font-size: 15px">
                            <td><div style="width: 80px">{{current_symbol.symbol}}</div></td>
                            <td>{{current_symbol.company}}</td>
                            <td><div style="width: 80px">{{current_symbol.price | number:3}}</div></td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li class="dropdown {{menu_symbol?'show':''}}">
                    <a href="" ng-click="toggle_menu_symbol()">
                        <span class="c-info font-bold">
                            Choose Symbol <i class="fa fa-sort-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-content">
                        <div class="panel dropdown" style="background-color: #24262d; margin: 0; display: block">
                            <div class="panel-heading c-white" style="padding: 0px; height: 40px">
                                <!--Symbol selector title-->
                                <div class="text-left" style="padding: 8px; font-size: 18px; font-weight: bold">
                                     Please choose stock symbol
                                </div>

                                <div style="font-size: 12px; padding: 6px" >
                                    <!--Search box-->
                                    <div class="col-xs-4" style="padding-bottom: 10px;">
                                        <input class="form-control" style="height: 35px; padding: 3px; border-radius: 2px; font-family:Arial, FontAwesome" type="text" ng-model="search" placeholder="&#xF002; Search ..." >
                                    </div>

                                    <div class="col-xs-1">
                                    </div>

                                    <div class="col-sm-7">
                                        <select type="text" class="form-control"
                                                ng-options="initial for initial in alphabetList"
                                                ng-model="selectedInitial" ng-change="update_new_initial(selectedInitial)"
                                                ng-disabled="disableInitialSelection"
                                        >
                                                <option value="">-&#45;&#45; Please select Initial -&#45;&#45;</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!--Symbol list-->
                            <div class="panel panel-body" style="padding: 5px 0px 0px 0px">
                                <table class="table" style="table-layout: fixed">
                                    <thead>
                                    <tr style="cursor:text">
                                        <th style="width: 30px;">
                                            <span class="c-info">Symbol</span>
                                            <i class="fa {{symbol_sorting=='symbol'?symbol_sorting_order?'fa-sort-down':'fa-sort-up':'fa-sort c-text'}} hover" ng-click="change_symbol_sorting('symbol')"></i>
                                        </th>
                                        <th style="width: 100px;">
                                            <span class="c-info text-left">Company</span>
                                            <i class="fa {{symbol_sorting=='company'?symbol_sorting_order?'fa-sort-down':'fa-sort-up':'fa-sort c-text'}} hover" ng-click="change_symbol_sorting('company')"></i>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>

                                <div style="height: 350px; overflow: auto">
                                    <table class="table table-hover hover" style="table-layout: fixed">
                                        <tbody>
                                        <tr ng-repeat="symbol in symbol_list | orderBy:symbol_sorting:symbol_sorting_order | filter:search" class="c-white"
                                            ng-click="change_symbol(symbol)"
                                            ng-if="!disableSymbolSelection"
                                            style="border-bottom: 1px groove #949ba2">
                                            <td style="width: 30px; line-height: 10px; padding: 8px">
                                                {{symbol.symbol}}
                                            </td>
                                            <td class="wrapword" style="width: 90px; line-height: 10px; padding: 10px">
                                                {{symbol.company}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End header-->

<!-- Navigation-->
<aside class="navigation">
    <div class="col-xs-12 c-white">
        <div class="panel" style="background-color: #24262d;">
            <div class="panel-body">
                <div class="col-xs-6">
                    <h4>NEWS <a style="cursor: pointer" title="Reload" ng-click="get_news_list()" ng-if="news_list.length"><i class="fa fa-refresh"></i></a></h4>
                </div>
                <div class="col-xs-6" style="padding-right: 11px">
                    <input class="form-control" style="height: 25px; padding: 3px; border-radius: 2px; font-family:Arial, FontAwesome; margin-top: 5px;" type="text" ng-model="new_search" placeholder="&#xF002; Search ..." >
                </div>
                <div class="col-xs-12" style="height: 880px; overflow-y: auto;">
                    <div class="bs-example" ng-repeat="news in news_list | filter:new_search | orderBy:'-publishedAt'">
                        <a class="text-info" href="{{news.url}}" target="_blank" style="cursor: pointer;">{{news.title}}</a><br>
                        <span style="font-size: x-small">{{news.publishedAt | date:'medium'}}</span>
                        <span class="pull-right" style="width: 100px; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap;text-align: right;">{{news.source.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</aside>
<!-- End navigation-->
<!-- Main content-->
<section class="content" ui-view="" data-ng-controller="SIOCtrl" ng-click="hide_menu_symbol()">

</section>
<!-- End main content-->

<div class="modal fade in" id="popup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 9999999;">
    <div class="modal-dialog" style="margin-top: 10%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="margin-bottom: 10px;">
                <h4 class="modal-title">QWILR TASK</h4>
            </div>
            <div class="panel-body" style="padding-top: 5px;">
                <div class="modal-wrapper">
                    <div class="modal-text" id="popup-content" style="font-size: 17px">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="checkbox checkbox-warning pull-left" id="dont_show_again">
                    <input id="dont_show_again_input" type="checkbox" class="styled">
                    <label for="dont_show_again_input" translate="modal_dialog.not_show_again">
                    </label>
                </div>
                <button type="button" id="confirm_ok" class="btn btn-success">OK</button>
                <button type="button" id="confirm_cancel" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>
