<div class="container-fluid exchange" >
	<div class="row" style="margin-left: -14px;">
		<!--<div class="col-md-1">-->

		<!--</div>-->

		<div class="col-md-6">
			<!--Balance-->
			<div class="col-xs-12" style="margin-bottom: 10px">
				<div class="panel panel-filled ui-widget-content balance" drag-me>
					<div class="panel-heading ui-widget-header">
						<div class="panel-tools">
							<div class="text-right c-text">
								Total Asset: {{total_asset | number:3}} <span style="font-size: x-small">USD</span>
							</div>
						</div>
						BALANCE
					</div>
					<div class="panel-body" style="height: calc(100% - 30px); width: calc(100% - 10px); overflow-y: auto; ">
						<table class="table table-condensed table-hover">
							<thead>
							<tr>
								<th>
									<span class="c-info">Symbol</span>
									<i class="fa {{balance_sorting=='symbol'?balance_sorting_order?'fa-sort-down':'fa-sort-up':'fa-sort c-text'}} hover" ng-click="change_balance_sorting('symbol')"></i>
								</th>
								<th class="text-right">
									<i class="fa {{balance_sorting=='balance'?balance_sorting_order?'fa-sort-down':'fa-sort-up':'fa-sort c-text'}} pull-right hover" ng-click="change_balance_sorting('balance')"></i>
									<span class="pull-right c-info">Balance</span>
								</th>
								<th class="text-right">
									<i class="fa {{balance_sorting=='usd_balance'?balance_sorting_order?'fa-sort-down':'fa-sort-up':'fa-sort c-text'}} pull-right hover" ng-click="change_balance_sorting('usd_balance')"></i>
									<span class="pull-right  c-info">USD Value</span>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr style="border-bottom: 1px dotted #44464f" ng-repeat="balance in balance_list | orderBy:balance_sorting:balance_sorting_order" >
								<td>{{balance.symbol}}</td>
								<td class="text-right"><span class="pull-right">{{balance.balance | number:3}}</span></td>
								<td class="text-right"><span class="pull-right">{{balance.usd_balance | number:3}}</span></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!--Fund Management-->
			<div class="col-xs-12" style="margin-bottom: 10px">
				<div class="ui-widget-content panel panel-filled fund-management" drag-me>
					<div class="ui-widget-header panel-heading">
						<div class="panel-tools">
						</div>
						FUND MANAGEMENT
					</div>

					<div class="panel-body" style="padding-top: 15px; padding-bottom: 0px">
						<!--Deposit-->
						<div class="col-xs-5" style="padding: 5px 20px;" ng-init="deposit_amount=10">
							<form class="form-horizontal ftt-order" ng-submit="update_usd_balance('deposit', deposit_amount)">
								<div class="form-group">
									<label class="col-sm-3 control-label" style="text-align: left">
										Amount
									</label>
									<div class="col-sm-9">
										<div class="input-group m-b-xs">
											<input required type="number" step="0.001" min="0.001" class="form-control" ng-model="deposit_amount">
											<div class="input-group-addon trung">
												<label>USD</label>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<button type="submit" class="btn btn-w-md pull-right btn-success"
												ng-disabled="disableFundButton" style="width:100%">
											Deposit
										</button>
									</div>
								</div>
							</form>
						</div>

						<div class="col-xs-2"></div>

						<!--Withdraw-->
						<div class="col-xs-5" style="padding: 5px 20px;" ng-init="withdraw_amount=10">
							<form class="form-horizontal ftt-order" ng-submit="update_usd_balance('withdraw', withdraw_amount)">
								<div class="form-group">
									<label class="col-sm-3 control-label" style="text-align: left">Amount</label>
									<div class="col-sm-9">
										<div class="input-group m-b-xs">
											<input required type="number" step="0.001" min="0.001" class="form-control" ng-model="withdraw_amount">
											<div class="input-group-addon trung">
												<label>USD</label>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<button type="submit" class="btn btn-w-md pull-right btn-danger"
												style="width:100%" ng-disabled="disableFundButton">
											Withdraw
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!--Funding History-->
			<div class="col-xs-12">
				<div class="panel panel-filled ui-widget-content fund-history" drag-me>
					<div class="panel-heading ui-widget-header">
						<div class="panel-tools">
						</div>
						DEPOSIT / WITHDRAW HISTORY
					</div>
					<div class="panel-body" style="height: calc(100% - 30px); width: calc(100% - 10px); overflow-y: auto; ">
						<table class="table table-condensed table-hover">
							<thead>
							<tr>
								<th>
									<span class="c-info">Type</span>
								</th>
								<th class="text-right">
									<span class="pull-right c-info">Amount</span>
								</th>
								<th class="text-right">
									<span class="pull-right  c-info">Time</span>
								</th>
							</tr>
							</thead>
							<tbody>
								<tr class="{{(history.type=='Deposit')?'c-success':'c-danger'}}" style="border-bottom: 1px dotted #44464f" ng-repeat="history in fund_history | orderBy:time:false" >
									<td>{{history.type}}</td>
									<td class="text-right">
										<span class="pull-right">
											{{history.amount | number:3}}
											<span class="c-text" style="font-size: x-small">USD</span>
										</span>
									</td>
									<td class="text-right"><span class="pull-right">{{history.time | date:'yyyy/MM/dd HH:mm:ss'}}</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<!--Purchases-->
			<div class="col-xs-12" style="margin-bottom: 10px">
				<div class="ui-widget-content panel panel-filled purchases" drag-me>
					<div class="ui-widget-header panel-heading">
						<div class="panel-tools">
						</div>
						STOCK PURCHASE
					</div>

					<div class="panel-body" style="padding-top: 15px; padding-bottom: 0px">
						<!--Buy-->
						<div class="col-xs-5" style="padding: 5px 20px;" ng-init="buy_amount=1">
							<form class="form-horizontal ftt-order" ng-submit="purchase('buy', buy_amount, current_symbol)">
								<div class="form-group">
									<label class="col-sm-3 control-label" style="text-align: left">
										Amount
									</label>
									<div class="col-sm-9">
										<div class="input-group m-b-xs">
											<input required type="number" step="0.001" min="0.001" class="form-control" ng-model="buy_amount">
											<div class="input-group-addon trung">
												<label>{{current_symbol.symbol}}</label>
											</div>
										</div>
									</div>
									<div class="col-sm-12" style="padding-top:5px; padding-bottom: 5px">
										<span class="c-white col-sm-3">Total </span>
										<span class="c-text col-sm-9">
											{{buy_amount * current_symbol.price | number : 3}} USD
										</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<button type="submit" class="btn btn-w-md pull-right btn-buy"
												ng-disabled="disablePurchaseButton || !current_symbol || !current_symbol.price" style="width:100%"
										>
											BUY
										</button>
									</div>
								</div>
							</form>
						</div>

						<div class="col-xs-2"></div>

						<!--Sell-->
						<div class="col-xs-5" style="padding: 5px 20px;" ng-init="sell_amount=1">
							<form class="form-horizontal ftt-order" ng-submit="purchase('sell', sell_amount, current_symbol)">
								<div class="form-group">
									<label class="col-sm-3 control-label" style="text-align: left">
										Amount
									</label>
									<div class="col-sm-9">
										<div class="input-group m-b-xs">
											<input required type="number" step="0.001" min="0.001" class="form-control" ng-model="sell_amount">
											<div class="input-group-addon trung">
												<label>{{current_symbol.symbol}}</label>
											</div>
										</div>
									</div>
									<div class="col-sm-12" style="padding-top:5px; padding-bottom: 5px">
										<span class="c-white col-sm-3">Total </span>
										<span class="c-text col-sm-9">
											{{sell_amount * current_symbol.price | number : 3}} USD
										</span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<button type="submit" class="btn btn-w-md pull-right btn-sell"
												ng-disabled="disablePurchaseButton || !current_symbol || !current_symbol.price" style="width:100%"
										>
											SELL
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!--Purchases History-->
			<div class="col-xs-12">
				<div class="panel panel-filled ui-widget-content purchase-history" drag-me>
					<div class="panel-heading ui-widget-header">
						<div class="panel-tools">
						</div>
						PURCHASES HISTORY
					</div>
					<div class="panel-body" style="height: calc(100% - 30px); width: calc(100% - 10px); overflow-y: auto; ">
						<table class="table table-condensed table-hover">
							<thead>
							<tr>
								<th>
									<span class="c-info">Type</span>
								</th>
								<th >
									<span class="c-info">Symbol</span>
								</th>
								<th class="text-right">
									<span class="pull-right c-info">Amount</span>
								</th>
								<th class="text-right">
									<span class="pull-right c-info">Price</span>
								</th>
								<th class="text-right">
									<span class="pull-right  c-info">Time</span>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr class="{{(history.type=='Buy')?'c-buy':'c-sell'}}" style="border-bottom: 1px dotted #44464f" ng-repeat="history in purchase_history | orderBy:time:false" >
								<td>{{history.type}}</td>
								<td>{{history.symbol}}</td>
								<td class="text-right">
										<span class="pull-right">
											{{history.amount | number:3}}
											<span class="c-text" style="font-size: x-small">{{history.symbol}}</span>
										</span>
								</td>
								<td class="text-right">
										<span class="pull-right">
											{{history.price | number:3}}
											<span class="c-text" style="font-size: x-small">USD</span>
										</span>
								</td>
								<td class="text-right"><span class="pull-right">{{history.time | date:'yyyy/MM/dd HH:mm:ss'}}</span></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>